img {
    width: 100%;
}

.flex {
    display: flex;
}

.bi {
    flex: 1;
}

.ingrBlock {
    display: flex;
    flex-wrap: wrap;
}

.scroll {
    height: calc(100vh - 270px);
    overflow-y: auto;
}