:root {
    --main-color: #F5F6F7;
}

body * {
    color: var(--main-color);
}

/* W3C standard сейчас только для Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8585AD #2F2F37;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #2F2F37;
}

*::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border-radius: 5px;
    border: 3px solid #2F2F37;
}

*::-webkit-scrollbar-button {
    display: none;
}

.flex {
    display: flex;
}