:root {
    --main-color: #F5F6F7;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body * {
    color: var(--main-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* W3C standard
   сейчас только для Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8585AD #2F2F37;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #2F2F37;
}

*::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border-radius: 5px;
    border: 3px solid #2F2F37;
}

*::-webkit-scrollbar-button {
    display: none;
}