
.priceContainer {
    display: flex;
    justify-content: center;
    /* Выравнивание блоков по горизонтальной оси */
    align-items: center;
    /* Выравнивание содержимого блоков по вертикальной оси */
    gap: 8px;
}

.priceBlock {
    text-align: center;
    /* Центрирование текста внутри блока */
}

.ingrItem {
    /* flex: '0 1 calc(50%)'; */
    flex-basis: 50%;
    box-sizing: border-box;
}

.ingrContainer {
    position: relative;
}

.textCenter {
    text-align: center;
}

.ingrAbout {
    text-decoration: none;
    cursor: pointer;
}

.ingrImage {
    width: 100%;
}
